@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-white dark:bg-slate-950 text-slate-800 dark:text-slate-200 transition-colors duration-300;
  }
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6, .font-header {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
